*{
    padding: 0;
    margin: 0;
    border: 0;
}

.linha{
    height: 4px;
    background-color: #A6AEE0;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 113px;
}

.menu1 a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.menu1{
margin-right: 30px;
}